/*#region Fonts*/

@font-face {
  font-family: 'Inter';
  font-weight: 1 999;
  src: url('../font/Inter.ttf') format("truetype-variations");
}

@font-face {
  font-family: 'Open Sans Italic';
  font-weight: 1 999;
  src: url('../font/OpenSans-Italic.ttf') format("truetype-variations");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 1 999;
  src: url('../font/OpenSans.ttf') format("truetype-variations");
}

@font-face {
  font-family: 'JetBrains Mono Italic';
  font-weight: 1 999;
  src: url('../font/JetBrainsMono-Italic.ttf') format("truetype-variations");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 1 999;
  src: url('../font/JetBrainsMono.ttf') format("truetype-variations");
}

/*#endregion*/

:root {
  /*
    TypeScript colors
    https://www.typescriptlang.org/branding/
  */

  --primary-light: #358ef1;
  --primary: #3178c6;
  --primary-dark: #235a97;
  --primary-darker: #00273f;

  --highlight: #f1dd35;
  --highlight-dark: #c6bf31;

  --background: #1e90ff;
  --background-dark: #004f70;

  --foreground: #000000;
  --foreground-dark: #ffffff;

  --background-gradient-1:rgba(232, 245, 255, 1);
  --background-gradient-2:rgba(247, 254, 255, 1);

  --color: #212326;

  /* Fonts */
  --font-size: 1em;

  --font-heading: "Inter", -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  --font-body: "Open Sans", -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  --font-code: "Jetbrains Mono", Consolas, monospace;
}

* {
  transition: all 0.2s ease;
}

html,
body {
  color: var(--color);
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  color: var(--foreground);
  font-size: var(--font-size);
  font-family: var(--font-body);

  line-height: 1.60;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  margin: 0;
  background: var(--background-gradient-1);
  background: linear-gradient(229deg, var(--background-gradient-1) 0%, var(--background-gradient-2) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*#region Code*/

code {
  font-family: monospace, monospace;
  font-size: 1em;
  padding: 4px 6px;
}

.code-section {
  margin: 16px 32px;
  padding: 6px 32px;
  line-height: 1.4em;
  min-height: 32px;
}

.code-section, pre, code {
  border-radius: 6px;
  background: rgb(221, 235, 246);
  border: 1px solid rgb(187, 214, 236);
  color: #2a2a2a;
  font-family: var(--font-code);
  overflow: auto;
}

.code-section pre {
  background: transparent;
  border: none;
  color: inherit;
}

/*#endregion*/

/*#region Anchors*/

a {
  color: inherit;
  padding-right: 0.7em;
  transition: background-color 0.2s ease;
}

a[target="_blank"] {
  position: relative;
}

a[target="_blank"]:after {
  position: absolute;
  margin: 0 -0.2em 0.4em 0.2em;

  content: "\1F855"; /*"🡕"*/
  font-size: 0.8em;

  opacity: 0.8;
}

/*#endregion*/

/*#region Buttons*/

.button {
  display: inline-block;
  text-align: center;

  text-decoration: none;

  color: var(--foreground-dark);
  background-color: var(--primary-light);

  border: none;
  border-radius: 6px;
  padding: 6px 12px;
}

.button-big {
  font-weight: bold;
  letter-spacing: 1px;

  min-width: 80px;
  padding: 12px 18px;

  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}

button:hover {

}

button:active {

}

/*#endregion*/

nav,
main,
header,
footer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;
}

nav,
footer {
  background-color: var(--primary);
  color: var(--foreground-dark);
}

/*#region Navbar*/

nav {
  color: #fff;
  line-height: 3.5rem;
  font-size: 1.5rem;
}

nav * {
}

nav a {
  text-decoration: none;
}

nav a:after {
  content: none;
  background: none;
}

nav a:hover {
  background-color: var(--primary-dark);
}

nav > .title {
  margin-right: 8px;
  font-weight: bold;
}

nav .left {
  flex-grow: 1;
}

nav .left > *,
nav .right > * {
  display: inline-block;
  padding: 0 12px;
}

nav > *, .nav-large > *, .nav-small > * {
  height: 100%;
  display: inline-flex;
}

.nav-large {
  display: flex;
  flex-grow: 1;
}

.nav-small {
  display: none;
  flex-grow: 1;
}

@media screen and (max-width: 610px) {
  .nav-large {
    display: none;
  }

  .nav-small {
    display: flex;
  }
}

/*#endregion*/

/*#region Header*/

header {
  width: 100%;

  min-height: 260px;

  color: var(--foreground-dark);
  background-color: var(--primary-dark);
}

header p {
  box-sizing: content-box;
  max-width: 90%;
  hyphens: auto;
}

header h1 {
  margin: 0;
}

header .button {
  margin-top: 20px;
  margin-bottom: 0;
}

/*#endregion*/

/*#region Main*/

main {
  display: block;
  margin: 16px auto auto;
  max-width: 1200px;
  padding: 0 32px 32px;
}

/*#endregion */

/*#region Footer*/

footer {
  margin-top: auto;
}

/*#endregion*/

/*#region Headings*/

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.heading-main {
  display: block;
}

.heading-sub {
  display: block;
  font-weight: 500;
  opacity: 0.86;
}

/*#endregion*/

/*#region Notification Boxes*/

@media screen and (max-width: 560px) {
  .box {
    margin: 16px 4px !important;
  }

  .code-section {
    margin: 16px 4px !important;
  }
}

.box {
  margin: 16px 32px;
  padding: 16px 32px;
  min-height: 60px;

  border-radius: 8px;

  border: 1px solid #ccebff;
  background-color: #f5fbff;
}

.box-info {
  border: 1px solid #ccebff;
  background-color: #e5f2ff;
}

.box-success {
  border: 1px solid #c6ffbd;
  background-color: #f4ffed;
}

.box-warning {
  border: 1px solid #ffe0cc;
  background-color: #fff3eb;
}

.box-error {
  border: 1px solid #ffbebe;
  background-color: #ffebeb;
}

.box > svg {
  width: 64px;
  height: 64px;
  margin-top: 12px;
  margin-right: 16px;
}

.box-info > svg {
  color: #79b2fc;
}

.box-success > svg {
  color: #94ee8d;
}

.box-warning > svg {
  color: #fdbb78;
}

.box-error > svg {
  color: #eb7878;
}

/*#endregion*/

/*#region Utilities*/

.icon {
  height: var(--font-size);
  width: var(--font-size);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-row > * {
  margin-left: 4px;
  margin-right: 4px;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

/*#endregion*/
