#container-game {
  width: 100%;
  height: 100%;
}

.game {
}

.menu {
  display: flex;
  flex-direction: column;

  border: 1px solid #abc5de;
  background-color: #d2e3ef;

  padding: 16px;

  color: #212326;
}

.menu > h1:first-of-type {
  margin-top: 0;
}

.menu button {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: #3178c6;
  margin: 4px;
  padding: .5rem 1rem;
}
.menu button:hover {
  background-color: #256cb9;
}
.menu button:active {
  background-color: #1e61a9;
}

.menu canvas {
  margin: auto;
}

.game .display {
  font-size: 2em;
}

.game .input {
}

.game .progress {
}

.display .neutral {
  color: var(--primary-dark);
}

.display .invalid {
  color: red;
}

.display .valid {
  color: var(--primary-light);
}
